.c0 {
    border-top-color: #ffffff;
    border-left-color: #848484;
    border-right-color: #bebebe;
    border-bottom-color: #535353;
    background: #cacaca;
}

.c1 {
    border-top-color: #ff8091;
    border-left-color: #bf0019;
    border-right-color: #e31e32;
    border-bottom-color: #801e2b;
    background: #ff1818;
}

.c2 {
    border-top-color: #ffdf80;
    border-left-color: #bfa900;
    border-right-color: #e3c51e;
    border-bottom-color: #80761e;
    background: #ffee00;
}

.c3 {
    border-top-color: #91ff80;
    border-left-color: #23bf00;
    border-right-color: #25e31e;
    border-bottom-color: #45801e;
    background: #00d800;
}

.c4 {
    border-top-color: #80d3ff;
    border-left-color: #00a6bf;
    border-right-color: #1ec5e3;
    border-bottom-color: #1e6180;
    background: #00afd6;
}

.c5 {
    border-top-color: #809eff;
    border-left-color: #0013bf;
    border-right-color: #1e38e3;
    border-bottom-color: #1e2d80;
    background: #181cff;
}

.c6 {
    border-top-color: #ff9780;
    border-left-color: #bf4300;
    border-right-color: #e3591e;
    border-bottom-color: #80451e;
    background: #ff5100;
}

.c7 {
    border-top-color: #ff80fd;
    border-left-color: #bf00a2;
    border-right-color: #e31ee0;
    border-bottom-color: #7b1e80;
    background: #ff18ba;
}

.c8 {
    border-top-color: #ffffff;
    border-left-color: #848484;
    border-right-color: #bebebe;
    border-bottom-color: #535353;
    background: #cacaca;
}