* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: backgroundRotation 10s infinite linear;
    background: linear-gradient(0deg, #000000 30%, #000e6c);
}

.scene {
    width: min(400px, 100vw);
    height: min(600px, 100vh);
    position: absolute;
    display: flex;
}

.board {
    width: min(300px, 90vw);
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    outline: min(1px, 1vw) solid #ffffff40;
    z-index: 10;
}

.board::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background-image: url(../lain.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.square {
    z-index: 20;
    width: min(30px, 9vw);
    height: min(30px, 9vw);
    position: absolute;
    border-width: min(5px, 1.5vw);
    border-style: solid;
    top: min(-30px, -10vw);
}

.square::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-20deg, #ffffff36, #f1f1f100 70%, #ffffff );
}

.stats {
    width: min(100px, 100%);
    height: 100%;
    outline: min(1px, 1vw) solid #ffffff40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

fieldset {
    width: min(90px, 20vw);
    height: min(90px, 20vw);
    font-family: 'Inconsolata', monospace;
    font-size: min(20px, 5vw);
    color: #ffffff;
    border: 1px solid #ffffff40;
    background: rgba(0, 0, 0, .7);
    position: relative;
}

legend {
    margin-left: 5px;
}

.next {
    width: min(60px, 16vw);
    height: min(30px, 8vw);
    position: absolute;
    left: 5px;
    right: 0;
    top: min(15px, 4vw);
}

.minisquare {
    width: min(20px, 4vw);
    height: min(20px, 4vw);
    position: absolute;
    border-width: min(2px, 1vw);
    background: rgb(189, 189, 189);
    border-style: solid;
}

.minisquare::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-20deg, #ffffff36, #f1f1f100 70%, #ffffff );
}

@keyframes backgroundRotation {
    from {
        transform: rotate(0deg) scale(5);
    } to {
        transform: rotate(360deg) scale(5);
    }
}